/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	min-height: 100vh;
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav ul li a {
	color: black;
	text-decoration: none;
}

nav ul li a:hover {
	color: #B1663C;
	text-decoration: none;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2,
#login h2,
#login a {
	text-align: center;
	margin-bottom: 1em;
}

#login a {
	color: black;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img,
.modalGallery img {
	width: 100%;
}

.modalGallery {
	width: 80%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	padding: 10%;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.modalGallery h2 {
	grid-column-start: 1;
	grid-column-end: 6;
	color: #000000;
	font-size: 26px;
}

.modal-content a {
	color: red;
	text-decoration: none;
}

.modal-content .line {
	width: 100%;
}

.modalFooter {
	display: grid;
	place-items: center;
	grid-template-columns: 0.5fr;
	text-align: center;
	width: 100%;
}

#delete-all {
	color: red;
}

.projects a {
	color: #000000;
	text-decoration: none;
	font-size: 14px;
}

#contact,
#login {
	width: 50%;
	margin: auto;
}

#contact>*,
#login>*,
.modalGallery>* {
	text-align: center;

}

#contact h2,
#login h2,
.modalGallery h2 {
	margin-bottom: 20px;
}

#contact form,
#login form,
.modalGallery form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input,
button,
#login input,
.modalGallery input,
.modalGallery select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label,
#login label,
.modalGallery label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.fa-regular fa-trash-can {
	color: red;
}

input[type="submit"],
button {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

button {
	min-width: 100px;
	width: auto;
	margin: 1em;
	color: #1D6154;
	background-color: white;
	border: 1px solid #1D6154;
}

button:hover {
	cursor: pointer;
}

button.active,
.modal-content button {
	color: white;
	background-color: #1D6154;
}

.filter {
	display: flex;
	justify-content: center;
	width: 100%;
	gap: 10px;
}

footer {
	margin-top: auto;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
	background-color: #FFFFFF;
	margin: 15% 30% 15% 30%;
	padding: 20px;
	border-radius: 10px;
	width: auto;
}

.close,
.back {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.back {
	float: left;
}

.close:hover,
.close:focus,
.back:hover,
.back:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.projects #modify i {
	margin-left: 20px;
	font-size: 18px;
}

.modalImageContainer {
	position: relative;
	display: inline-block;
}

.modalImageContainer img {
	display: block;
	width: 100%;
	height: auto;
	border-radius: 8px;
}

.delete-icon {
	position: absolute;
	top: 6px;
	right: 6px;
	background-color: black;
	border-radius: 2px;
	padding: 6px;
	transition: background-color 0.2s ease-in-out;
}

.delete-icon:hover {
	background-color: red;
}

.delete-icon i {
	color: white;
}

.modalGallery form {
	grid-column-start: 1;
	grid-column-end: 6;
}

.modalGallery form img {
	max-height: 160px;
	object-fit: scale-down;
}

.modalFooter {
	grid-column-start: 1;
	grid-column-end: 6;
	width: 100%;
	justify-content: center;
}

.line {
	padding: 15px;
}

.modalFooter button,
.modalFooter a {
	width: 100%;
}

.file-input-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	justify-content: center;
	background-color: #E8F1F7;
	border-radius: 8px;
}


.file-input-container button {
	background-color: #CBD6DC;
	color: #306685;
	border: none;
	cursor: pointer;
}

.modal-content .submitButton {
	border: none;
	background-color: #A7A7A7;
	cursor: not-allowed;
}

.file-input-container .fa-regular {
	font-size: 60px;
	color: #B9C5CC;
}

.subtitle {
	font-size: 0.8rem;
	color: #444444;
	padding-bottom: 15px;
}